* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #000915;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

a {
  text-decoration: none;
}

.top {
  height: 1024px;
  background-image: url(img/topback.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.slogan {
  padding-top: 32px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  &_bold {
    font-weight: 700;
  }
}

.button {
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9c0332;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:hover {
    background: #eb443f;
  }
}

.header {
  &__heading {
    padding-top: 217px;
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__slogan {
    padding-top: 32px;
    width: 481px;
  }
}

.play-box {
  padding-top: 128px;

  .play {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    &__item {
      width: 379px;
      height: 300px;
      border-radius: 16px;
      border: 3px solid black;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &__item-link {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      padding-left: 32px;
      padding-bottom: 32px;
      transition: backdrop-filter 0.4s;
      box-sizing: border-box;
    }

    &_item-1 {
      background-image: url(img/play-1.jpg);
    }

    &_item-2 {
      background-image: url(img/play-2.jpg);
    }

    &_item-3 {
      background-image: url(img/play-3.jpg);
    }
  }
}

.mid-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 240px;

  &__slogan {
    width: 592px;
  }
}
.mid-content-third {
  display: flex;

  flex-direction: column;
  align-items: center;

  background-image: url(img/games-back.jpg);
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 276px;
  padding-bottom: 288px;
}

.heading-h2 {
  color: #fff;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-footer {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
