@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .top {
    height: 735px;
  }
  .slogan {
    width: auto;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    &_bold {
      font-weight: 700;
    }
  }

  .header {
    &__heading {
      text-align: center;
      font-size: 32px;
    }

    &__button {
      display: flex;
      justify-content: center;
    }
    &_link {
      margin-top: 32px;
    }
  }

  .play-box {
    padding-top: 128px;
    background-color: #000915;
    .play {
      &__item {
        width: 100vw;
      }
    }
  }

  .mid-content {
    &__slogan {
      padding-left: 16px;
      padding-right: 16px;
    }
    &__button-link {
      display: flex;
      justify-content: center;
    }
  }

  .mid-content-first {
    align-content: space-between;
    flex-direction: column;
    margin-top: 178px;
  }

  .mid-content-second {
    margin-top: 136px;
    align-content: space-between;
    flex-direction: column-reverse;
  }

  .heading-h2 {
    text-align: center;
    font-size: 32px;
  }
  .mid-content__rights-img {
    margin-top: 64px;
  }
}
